[package]
name = "tod"
version = "0.4.8"
authors = ["Alan Vardy <alan@vardy.cc>"]
edition = "2021"
license = "MIT"
description = "A tiny unofficial Todoist client"
readme = "README.md"
homepage = "https://github.com/alanvardy/tod"
repository = "https://github.com/alanvardy/tod"
keywords = ["cli", "todoist", "client", "tasks", "todo"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1"
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.11", features = ["json", "blocking"] }
uuid = { version = "1.3", features = ["serde", "v4"] }
dirs = "5.0"
matches = "0.1.10"
regex = "1"
chrono = "0.4.26"
chrono-tz = "0.8.3"
colored = "2.0.4"
clap = "4.3.11"
spinners = "4.1.0"
inquire = { version = "0.6.2", features = ["date"] }
serde_repr = "0.1.14"
rand = "0.8.5"
rayon = "1.7.0"
pad = "0.1.6"

[dev-dependencies]
mockito = "1.1.0"
pretty_assertions = "1.4.0"
