[package]
name = "tod"
version = "0.3.0"
authors = ["Alan Vardy <alan@vardy.cc>"]
edition = "2021"
license = "MIT"
description = "A tiny unofficial Todoist client"
readme = "README.md"
homepage = "https://github.com/alanvardy/tod"
repository = "https://github.com/alanvardy/tod"
keywords = ["cli", "todoist", "client", "tasks", "todo"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1"
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.11", features = ["json", "blocking"] }
uuid = { version = "1.2", features = ["serde", "v4"] }
dirs = "4.0"
matches = "0.1.8"
regex = "1"
chrono = "0.4.22"
chrono-tz = "0.8.0"
colored = "2.0.0"
clap = "4.0.23"

[dev-dependencies]
mockito = "0.31.0"
pretty_assertions = "1.3.0"
